:root {
  --my-blue: #0991b3;
  --standard-box-shadow: 2px 2px 4px grey;
}

body {
  font-family: "Roboto";
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display";
}

.header-wrapper {
  position: relative;
  padding: 75px 125px;
}

.header-wrapper::before {
  content: "";
  position: absolute;
  top: -50vh;
  right: 0;
  bottom: 50vh;
  left: 0;
  background-color: var(--my-blue);
  box-shadow: var(--standard-box-shadow);
  transform: skew(0, -9deg);
}

.header-content {
  position: relative;
  display: flex;
  align-items: center;
  padding: 50px;
}

.hero-card {
  background-color: white;
  box-shadow: var(--standard-box-shadow);
  padding: 25px;
}

.header-img {
  /* width: clamp(500px, calc(156.25px + 31.25vw), 750px); */
  width: clamp(300px, calc(161.54px + 23.08vw), 600px);
  flex-shrink: 0;
  height: auto;
  aspect-ratio: 10 / 11;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("./images/top-img-resized.jpg");
  background-size: cover;
}

h1.caption {
  line-height: 1.1;
  font-size: clamp(3.75rem, calc(2.72rem + 1.5vw), 4.5rem);
  color: white;
  text-shadow: 2px 2px 4px black;
}

h2 {
  font-size: clamp(2.5rem, calc(1.64rem + 1.25vw), 3.13rem);
  font-weight: 100;
}

.header-content p {
  font-size: clamp(1rem, calc(0.31rem + 1vw), 1.5rem);
  line-height: 1.75;
  color: #666;
}

.icon-area-large {
  width: fit-content;
  margin-left: auto;
  display: flex;
  gap: 25px;
}

/* Media query planning area */

/* tablet */
@media screen and (width < 1100px) {
  .header-img {
    float: left;
    margin: -150px 25px 0px -125px;
  }

  .header-content {
    background-color: white;
    box-shadow: var(--standard-box-shadow);
    display: block;
  }

  .hero-card {
    background-color: none;
    box-shadow: none;
    padding: 0;
  }

  .header-wrapper {
    padding-top: 200px;
  }
}

/* mobile */
@media screen and (width < 600px) {
}

/* Placeholders */
img {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.icon-area-large .icon-btn {
  width: clamp(40px, calc(26.25px + 1.25vw), 50px);
  height: clamp(40px, calc(26.25px + 1.25vw), 50px);
}

.icon,
.icon-btn {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  background-color: white;
}
