:root {
  --my-blue: #0991b3;
}

/* Placeholders */
img {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.icon,
.icon-btn {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  background-color: white;
}
